{% extends 'Home/navbar.html' %} {%block content%}{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Our Services</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
      src="https://kit.fontawesome.com/8b0e0499ed.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static "Home/services.css" %}" />
  </head>
  <body>
    <div class="s-section">
      <div class="inner-width">
        <div class="s-title s-titles">Our Services</div>
        <div class="border"></div>
        <div class="s-container">
          <div class="s-box">
            <div class="s-icon">
              <i class="far fa-calendar-check"></i>
            </div>
            <div class="s-title">Project Formulation and Appraisal</div>
            <div class="s-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
              pharetra, nibh a malesuada convallis, est elit laoreet nisl,
            </div>
          </div>
          <div class="s-box">
            <div class="s-icon">
              <i class="fas fa-search-location"></i>
            </div>
            <div class="s-title">Field Survey and Investigations</div>
            <div class="s-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
              pharetra, nibh a malesuada convallis, est elit laoreet nisl,
            </div>
          </div>
          <div class="s-box">
            <div class="s-icon">
              <i class="fas fa-mail-bulk"></i>
            </div>
            <div class="s-title">Master Planning</div>
            <div class="s-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
              pharetra, nibh a malesuada convallis, est elit laoreet nisl,
            </div>
          </div>
          <div class="s-box">
            <div class="s-icon">
              <i class="fas fa-tape"></i>
            </div>
            <div class="s-title">Architectural Planning & Design</div>
            <div class="s-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
              pharetra, nibh a malesuada convallis, est elit laoreet nisl,
            </div>
          </div>
          <div class="s-box">
            <div class="s-icon">
              <i class="fas fa-hard-hat"></i>
            </div>
            <div class="s-title">Civil Engineering</div>
            <div class="s-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
              pharetra, nibh a malesuada convallis, est elit laoreet nisl,
            </div>
          </div>
          <div class="s-box">
            <div class="s-icon">
              <i class="fas fa-ruler-combined"></i>
            </div>
            <div class="s-title">Structural Engineering and Design</div>
            <div class="s-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
              pharetra, nibh a malesuada convallis, est elit laoreet nisl,
            </div>
          </div>
          <div class="s-box">
            <div class="s-icon">
              <i class="fas fa-tools"></i>
            </div>
            <div class="s-title">
              Structural Health Monitoring and Structural Assessment
            </div>
            <div class="s-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
              pharetra, nibh a malesuada convallis, est elit laoreet nisl,
            </div>
          </div>
          <div class="s-box">
            <div class="s-icon">
              <i class="fas fa-drafting-compass"></i>
            </div>
            <div class="s-title">MEP Service Planning and Design</div>
            <div class="s-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
              pharetra, nibh a malesuada convallis, est elit laoreet nisl,
            </div>
          </div>
          <div class="s-box">
            <div class="s-icon">
              <i class="fas fa-ruler"></i>
            </div>
            <div class="s-title">Interior Design</div>
            <div class="s-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
              pharetra, nibh a malesuada convallis, est elit laoreet nisl,
            </div>
          </div>
          <div class="s-box">
            <div class="s-icon">
              <i class="fas fa-user-check"></i>
            </div>
            <div class="s-title">Preparation of Bidding Document</div>
            <div class="s-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
              pharetra, nibh a malesuada convallis, est elit laoreet nisl,
            </div>
          </div>
          <div class="s-box">
            <div class="s-icon">
              <i class="fas fa-tasks"></i>
            </div>
            <div class="s-title">Project Management Services</div>
            <div class="s-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
              pharetra, nibh a malesuada convallis, est elit laoreet nisl,
            </div>
          </div>
          <div class="s-box">
            <div class="s-icon">
              <i class="fas fa-search"></i>
            </div>
            <div class="s-title">Quantity Surveying</div>
            <div class="s-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
              pharetra, nibh a malesuada convallis, est elit laoreet nisl,
            </div>
          </div>
          <div class="s-box">
            <div class="s-icon">
              <i class="fas fa-hands-helping"></i>
            </div>
            <div class="s-title">Supervision and Quality Control</div>
            <div class="s-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
              pharetra, nibh a malesuada convallis, est elit laoreet nisl,
            </div>
          </div>
          <div class="s-box">
            <div class="s-icon">
              <i class="fas fa-pencil-ruler"></i>
            </div>
            <div class="s-title">
              Earthquake Engineering and Seismic vulnerability Assessment
            </div>
            <div class="s-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
              pharetra, nibh a malesuada convallis, est elit laoreet nisl,
            </div>
          </div>
          <div class="s-box">
            <div class="s-icon">
              <i class="fas fa-toolbox"></i>
            </div>
            <div class="s-title">
              Construction management and Contract Administration
            </div>
            <div class="s-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
              pharetra, nibh a malesuada convallis, est elit laoreet nisl,
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
{%endblock%}
